<div class="form-card">
    <h2>Nouveau Livre Stephen king</h2>
    <form>
        <div class="form-group">
            <label for="title">Titre</label>
            <input type="text" id="title" formControlName="title">
        </div>
        <div class="form-group">
            <label for="resume">Resume</label>
            <textarea id="resume" formControlName="resume"></textarea>
        </div>
        <div class="form-group">
            <label for="imageUrl">Url de l'image de couverture</label>
            <input type="text" id="imageUrl" formControlName="imageUrl">
        </div>
        <div class="form-group">
            <label for="parution">Année de parution</label>
            <input type="date" id="parution" formControlName="parution">
        </div>
        <div class="action-buttons">
            <button type="submit">Enregistrer</button>
        </div>
    </form>
</div>

<div class="face-snap-card">
    <h2></h2>
    <p>Mis en ligne le </p>
    <img>
    <p></p>
    <p>Parue le </p>
</div>