

p {
    text-align: center;
}

h1 {
    font-family: 'Arial';
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3rem;
    line-height: 0.75;
  }
  
  span {
    display: block;
    margin-left: 15px;
    margin-bottom: 5px;
  }
  
  span:not(.light) {
    opacity: 0;
    animation: flashText .9s ease-out alternate infinite;
  }
  
  span.light {
    position: relative;
    display: inline-block;
    
    &:before {
      position: absolute;
      left: 0;
      top: -10%;
      width: 100%;
      height: 120%;
      background: red;
      filter: blur(10px);
      content: "";
      opacity: 0;
      animation: flash .9s ease-out alternate infinite;
    }
  }
  
  @keyframes flash{
    to {
      opacity: 1;
    }
  }
  
  @keyframes flashText {
    to {
      opacity: 0.15;
    }
  }